{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main>
        <section class="full-width pageContent">
            <section class="full-width text-center" style="padding: 40px 0;">
                <div class="row justify-content-center">
                    <div class="col-md-13">
                        <div class="container-fluid px-4">
                            <h1 class="mt-4">Lista de Empresa</h1>
                            <div class="card mb-4">
                                <div class="card-header">
                                    <i class="fas fa-chart-area me-1"></i>
                                    <a class="btn btn-primary col-2 btn-sm" href="{% url 'nuevo_empresa' %}">Agregar</a>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="datatablesSimple">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>N° Documento</th>
                                                    <th>Razon Social</th>
                                                    <th>Direccion</th>
                                                    <th>Opciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for empresa in object_list %}
                                                    <tr>
                                                        <td>{{ empresa.empresa_id }}</td>
                                                        <td>{{ empresa.nro_documento }}</td>
                                                        <td>{{ empresa.razon_social }}</td>
                                                        <td>{{ empresa.direccion }}</td>
                                                        <td>
                                                            <a href="{% url 'empresa_actualizar' empresa_id=empresa.empresa_id %}"
                                                                class="btn btn-warning btn-sm">Editar</a>
                                                            <a href="{% url 'empresa_eliminar' empresa_id=empresa.empresa_id %}"
                                                                class="btn btn-danger btn-sm">Eliminar</a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </main>
{% endblock %}
