{% extends 'base.html' %}
{% block content %}

<section class="full-width pageContent">
    <section class="full-width text-center" style="padding: 40px 0;">
        <h3 class="text-center tittles">PANEL PRINCIPAL</h3>
        <!-- Tiles -->
        <article class="full-width tile">
            <div class="tile-text">
                <span class="text-condensedLight">
                    2<br>
                    
                    <strong>Administrators</strong>
                </span>
            </div>
            <i class="zmdi zmdi-account tile-icon"></i>
        </article>
        <article class="full-width tile">
            <div class="tile-text">
                <span class="text-condensedLight">
                    71<br>
                    <small>Clients</small>
                </span>
            </div>
            <i class="zmdi zmdi-accounts tile-icon"></i>
        </article>
        <article class="full-width tile">
            <div class="tile-text">
                <span class="text-condensedLight">
                    7<br>
                    <small>Providers</small>
                </span>
            </div>
            <i class="zmdi zmdi-truck tile-icon"></i>
        </article>
        <article class="full-width tile">
            <div class="tile-text">
                <span class="text-condensedLight">
                    9<br>
                    <small>Categories</small>
                </span>
            </div>
            <i class="zmdi zmdi-label tile-icon"></i>
        </article>
        <article class="full-width tile">
            <div class="tile-text">
                <span class="text-condensedLight">
                    121<br>
                    <small>Products</small>
                </span>
            </div>
            <i class="zmdi zmdi-washing-machine tile-icon"></i>
        </article>
        <article class="full-width tile">
            <div class="tile-text">
                <span class="text-condensedLight">
                    47<br>
                    <small>Sales</small>
                </span>
            </div>
            <i class="zmdi zmdi-shopping-cart tile-icon"></i>
        </article>
    </section>

    <section class="full-width text-center" style="padding: 40px 0;">
        <h3 class="text-center tittles">GRUPO6</h3>
        <!-- Tiles -->
        <article class="full-width tile">
            <div class="tile-text">
                <span class="text-condensedLight">
                    <small>Ayala Cabrera Willians </small>
                </span>
            </div>
            <i class="zmdi zmdi-account tile-icon"></i>
        </article>
        <article class="full-width tile">
            <div class="tile-text">
                <span class="text-condensedLight">
                    <small>Arcos García Mervi Iván </small>
                </span>
            </div>
            <i class="zmdi zmdi-account tile-icon"></i>
        </article>
        <article class="full-width tile">
            <div class="tile-text">
                <span class="text-condensedLight">
                    <small>Gomez Cachay Sarahi Brigitte </small>
                </span>
            </div>
            <i class="zmdi zmdi-account tile-icon"></i>
        </article>
        <article class="full-width tile">
            <div class="tile-text">
                <span class="text-condensedLight">
                    <small>Huamán Guerrero Lili Yanina</small>
                </span>
            </div>
            <i class="zmdi zmdi-account tile-icon"></i>
        </article>
        <article class="full-width tile">
            <div class="tile-text">
                <span class="text-condensedLight">
                    <small>Montalvan Ramos Jesús Alexander</small>
                </span>
            </div>
            <i class="zmdi zmdi-account tile-icon"></i>
        </article>
        <article class="full-width tile">
            <div class="tile-text">
                <span class="text-condensedLight">
                    <small>Ventura Custodio Robert</small>
                </span>
            </div>
            <i class="zmdi zmdi-account tile-icon"></i>
        </article>
    </section>
</section>

{% endblock content %}

